@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;300&display=swap');

*{
  padding: 0;
  margin: 0;
}
nav{
    background-color: rgba(255, 251, 251, 0.829);
}
nav h1{
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: black;
    
}
h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../img/texturamadera.jpg);
    background-attachment: fixed;
}
 
.flex{
  display: flex;
}
nav{
  flex-direction: row;
  justify-content: space-between;
align-items: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
  }
  
  li a:hover {
    background-color: rgb(252, 21, 21);
  }



  header h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  #imagendepanaderia{
    overflow: hidden;
    background-color: #333333;
  }

header h1{
text-align: center;
font-size: 60px;
font-family: 'Great Vibes', cursive;
padding-top: 50px;
  }

.uno__text{
  width: auto;
  height: auto;
  font-size: 2rem;
  margin-bottom: 80px ;
  margin-top:60px;
  margin-left: 70px;
  margin-right: 70px;
  border: solid red 5px;
  background-color: rgba(233, 230, 230, 0.884);
  padding: 4%;
}
.uno__img{
  width: 70%;
  height:auto;
  margin-left: 15%;
}
.content{
  position: relative;
    overflow: hidden;
    
}

.uno__text1{
  text-align: center;
  width: 80%;
  height: 40%;
  font-size: 2rem;
  margin: auto;
  border: solid red 5px;
  background-color: rgba(233, 230, 230, 0.884);
  padding: 4%;
}

main section{
  background-color: white;
}
main h1{
  text-align: center;
  width: auto;
  font-size: 60px;
  font-family: 'Great Vibes', cursive;
}
main h2{
  text-align: left;
  width: auto;
  height: auto;
  font-size: 40px;
}
main h4{
  text-align: left;
  width: auto;
  font-size: 25px;
}

section h1{
  text-align: center;
  font-size: 60px;
  font-family: 'Great Vibes', cursive;
  padding-top: 50px;
  padding-bottom: 50px;
}
section h3{
  font-size: 40px;
}

fieldset label{
  font-size: 25px;
}
fieldset input{
  font-size: 25px;
}

section h4{
  font-size: 25px;
}


footer h1{
  color: white;
  width: auto;
  height: auto;
padding-bottom: 20px;
}
footer svg{
  color: white;
}

.futer{
  background-color: #333333;
  padding: 82px;
}


.grid{
  width: 100%;
  display: grid;
  text-align: center !important;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
}

section p{
  font-family: 'Roboto', sans-serif;
}

.caja1{
padding-top: 25%;
font-size: 60px;
color: #f10c0c;
}

.box{
  padding-top: 30px;
  font-size: 30px;
  color: #111111;
}

    .grid2{
      width: 100%;
      display: grid;
      text-align: center !important;
    }

    .grid-columna2{
      grid-template-columns: repeat(2, 50%);
    }

    #comentarios{
      font-family: 'Roboto', sans-serif;
      font-size: 2rem;
      color: #111111;
      background-color: rgba(235, 64, 64, 0.945);
    }

    .grid3{
      width: 100%;
      display: grid;
      text-align: center !important;
    }

    .grid-columna3{
      grid-template-columns: repeat(2, 50%);
    }
    fieldset{
      background-color: rgba(240, 236, 236, 0.644);
    }

    #retocar{
      font-size: 30px;
      color: #111111;
      padding-top: 200px;
      text-align: center;
      background-color: white;
    }

    #mapa{
      background-color: white;
    }

    .fondolindo{
      background-color: rgb(241, 8, 27);
    }
    
    
@media screen and (max-width: 720px) {
  .grid {
    grid-template-columns: 1fr;
  }
  }